@model List<viewmodel_fun.Models.funUser>
<html>
    <head>
        <title>List of Users</title>
    </head>
    <body>
        <h2>List of Users!</h2>
        @{
            @foreach (var fUser in @Model){
                <p>@fUser.fName @fUser.lName</p>
            }
        }
    </body>
</html>