@model viewmodel_fun.Models.funUser
<html>
    <head>
        <title>A User</title>
    </head>
    <body>
        <h2>Here is a User!</h2>
        <p>@Model.fName @Model.lName</p>
    </body>
</html>